
.container{
    margin-top: 30px;
    
}

.weatherapp{
    max-width: 600px;
    margin: 20px auto;
    padding:20px;
    border:1px solid #dadde1;
    border-radius: 6px;
    background-color: aliceblue;
}
h1{
    color: #272142;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    margin: 0 10px 20px;
}
.weather-info li{
    color: rgba(33, 32, 33, 0.4);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin-bottom: 5px;
}
#units {
    position: relative;
    top: -25px;
}
.search-input{
        background: white;
        border: none;
        border-radius: 6px;
        color: rgba(39, 33, 66, .4);
        display: inline-block;
        font-size: 16px;
        height: 40px;
        line-height: 20px;
        padding: 15px 20px;
}
.search-button{
    background-color: #2e66df;
    height:40px;
    width:100px;
}
li{
    list-style: none;
}
#humidity , #wind {
    color:#4065b4
}
#description{
    text-transform: capitalize;
}
.forecast{
    margin:30px
}
.footer{
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#temperature{
    color: #212121;
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    margin-left: 10px;
}

