body{
    background-color:rgb(208, 224, 238);
}
.container{
    margin-top: 30px;
}

.weatherapp{
    max-width: 700px;
    margin: 20px auto;
    padding:20px;
    border:1px solid #dadde1;
    border-radius: 6px;
    background-color:rgba(153, 189, 227, 0.659);
}
h1{
    color: #272142;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    margin: 0 10px 20px;
}
.weather-info li{
    color: rgba(18, 1, 18, 0.663);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin-bottom: 5px;
}
#units {
    position: relative;
    top: -25px;
}
#search-input{
        background: rgba(206, 227, 249, 0.464);
        border: none;
        border-radius: 6px;
        color: rgba(43, 41, 54, 0.803);
        display: inline-block;
        font-size: 16px;
        height: 40px;
        line-height: 20px;
        padding: 15px 20px;
}
#search-button{
    background-color: #2e66df;
    height:40px;
    width:100px;
}
li{
    list-style: none;
}
#humidity , #wind {
    color:#1c2945
}

.forecast{
    margin:30px
}
.footer{
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#temperature{
    color: #212121;
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    margin-left: 10px;
}
.weather-info .active{
    color:rgb(238, 18, 18);
    cursor: default;
}
.weather-info .active:hover{
    text-decoration: none;
}
.currentCityWeatherInfo{
    margin: 30px 0;
}
.weather-forecast{
    margin: 25px 0;
    text-align: center;
    color:black;
}
#weather-forecast-date{
    font-size: 16px;
    opacity: 0.5;
}
.weather-forecast-temperature{
    font-size: 14px;
}
#weather-forecast-temperature-min{
    opacity: 0.5;
}